<a href="https://colab.research.google.com/github/ShubhamGupta2505/MachineLearningPractice/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>  Assignment 1

### Ques 1: Assign your Name to variable name and Age to variable age. Make a Python program that prints your name and age.

In [ ]:
name = "Shubham Gupta"
age = 21
print("Name is: ", name, "\nAge is: ", age)

### Ques 2: X="Datascience is used to extract meaningful insights." Split the string

In [ ]:
X="Datascience is used to extract meaningful insights."
splitted_string_arr = X.split()
print("Splitted string: ", splitted_string_arr)

### Ques 3: Make a function that gives multiplication of two numbers

In [ ]:
def product(a, b):
    return a*b

a = 18
b = 23
res = product(a, b)
print("Product is: ", res)

### Ques 4: Create a Dictionary of 5 States with their capitals. also print the keys and values.

In [ ]:
dict = {'Uttar Pradesh': 'Lucknow', 'Madhya Pradesh': 'Bhopal', 'Maharashtra': 'Mumbai', 'Gujarat': 'Gandhinagar', 'Karnataka': 'Bangalore'}
print('Keys:  ', dict.keys(), '\nValues: ', dict.values())

### Ques 5: Create a list of 1000 numbers using range function.

In [ ]:
import numpy as np
list = np.arange(1000)
print("List using range function: \n", list)

### Ques 6: Create an identity matrix of dimension 4 by 4

In [ ]:
id_matrix = np.identity(4)
print("Identity matrix of dimension 4: \n", id_matrix)

### Ques 7: Create a 3x3 matrix with values ranging from 1 to 9

In [ ]:
matrix = np.arange(1, 10)
matrix_3x3 = matrix.reshape(3, 3)
print('3x3 matrix: \n', matrix_3x3)

### Ques 8: Create 2 similar dimensional array and perform sum on them.

In [ ]:
arr1 = np.arange(1, 10)
arr2 = np.arange(10, 19)
arr1 = arr1.reshape(3, 3)
arr2 = arr2.reshape(3, 3)
sum_matrix = arr1+arr2
print("Sum:\n ", sum_matrix)

### Ques 9: Generate the series of dates from 1st Feb, 2023 to 1st March, 2023 (both inclusive)

In [ ]:
import pandas as pd

start_date = pd.to_datetime('2023-02-01')
end_date = pd.to_datetime('2023-03-01')

date_series = pd.date_range(start=start_date, end=end_date, freq='D')

print(date_series)

### Ques 10: Given a dictionary, convert it into corresponding dataframe and display it
**dictionary = {'Brand': ['Maruti', 'Renault', 'Hyndai'], 'Sales' : [250, 200, 240]}**

In [ ]:
dictionary = {'Brand': ['Maruti', 'Renault', 'Hyndai'], 'Sales' : [250, 200, 240]}
df = pd.DataFrame(dictionary)
print('Dataframe: \n')
df