In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bank-marketing-dataset/bank/bank.csv
/kaggle/input/bank-marketing-dataset/bank/bank-names.txt
/kaggle/input/bank-marketing-dataset/bank/bank-full.csv
/kaggle/input/bank-marketing-dataset/bank-additional/bank-additional/bank-additional.csv
/kaggle/input/bank-marketing-dataset/bank-additional/bank-additional/.Rhistory
/kaggle/input/bank-marketing-dataset/bank-additional/bank-additional/bank-additional-names.txt
/kaggle/input/bank-marketing-dataset/bank-additional/bank-additional/bank-additional-full.csv

In [2]:
game = pd.read_csv('/kaggle/input/bank-marketing-dataset/bank/bank.csv')
game1 = pd.read_csv('/kaggle/input/bank-marketing-dataset/bank/bank-full.csv')
game3 = pd.read_csv('/kaggle/input/bank-marketing-dataset/bank-additional/bank-additional/bank-additional.csv')
game2 = pd.read_csv('/kaggle/input/bank-marketing-dataset/bank-additional/bank-additional/bank-additional-full.csv')
game.shape,game1.shape,game2.shape,game3.shape

((4521, 1), (45211, 1), (41188, 1), (4119, 1))

In [3]:
game1.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...

In [4]:
game1.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...

In [5]:
game2.head()

  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0  56;"housemaid";"married";"basic.4y";"no";"no";...
1  57;"services";"married";"high.school";"unknown...
2  37;"services";"married";"high.school";"no";"ye...
3  40;"admin.";"married";"basic.6y";"no";"no";"no...
4  56;"services";"married";"high.school";"no";"no...