In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/land-use-statistics-by-country/Land use Statistics by Country.csv

In [2]:
df = pd.read_csv('/kaggle/input/land-use-statistics-by-country/Land use Statistics by Country.csv')
df.head()

,Unnamed: 0,Rank,Country,Cultivated land (km2),Cultivated land (%),Arable land (km2),Arable land (%),Permanent crops (km2),Permanent crops (%),Other lands (km2),Other lands (%),Total area (km2),Date
0,0,,World,17235800,11.6,15827534,10.7,1549600,1.0,131.701.100,88.4,149000000.0,2011
1,1,1,India,1765260,53.7,1656780,50.4,108479,3.3,1522002,46.3,3287263.0,2020
2,2,2,United States,1681826,17.1,1652028,16.8,29798,0.3,8151691,82.9,9833517.0,2020
3,3,3,Russia,1265267,7.4,1248169,7.3,17098,0.1,15832975,92.6,17098242.0,2011
4,4,4,China,1238013,12.9,1084461,11.3,153552,1.6,8358947,87.1,9596960.0,2011

In [3]:
df.shape

(237, 13)

In [4]:
df.describe()

,Unnamed: 0,Cultivated land (km2),Cultivated land (%),Arable land (km2),Arable land (%),Permanent crops (km2),Permanent crops (%),Other lands (%),Total area (km2),Date
count,237.000000,2.370000e+02,237.000000,2.370000e+02,237.000000,2.370000e+02,237.000000,237.000000,2.370000e+02,237.000000
mean,118.000000,1.402826e+05,17.454219,1.247536e+05,12.872068,1.351946e+04,4.538692,82.548186,1.258670e+06,2009.670886
std,68.560193,1.135202e+06,16.518100,1.042780e+06,13.204760,1.025688e+05,8.968776,16.519392,9.835654e+06,2.981816
min,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,23.700000,4.400000e-01,2002.000000
25%,59.000000,1.300000e+02,3.500000,5.900000e+01,2.200000,1.600000e+01,0.100000,73.330000,2.235000e+03,2005.000000
50%,118.000000,7.997000e+03,12.900000,6.735000e+03,9.600000,6.230000e+02,1.000000,87.100000,7.174000e+04,2011.000000
75%,177.000000,4.176200e+04,26.670000,3.522000e+04,18.600000,3.723000e+03,4.350000,96.500000,4.383170e+05,2011.000000
max,236.000000,1.723580e+07,76.300000,1.582753e+07,59.000000,1.549600e+06,66.670000,100.000000,1.490000e+08,2020.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             237 non-null    int64
 1   Rank                   237 non-null    object
 2   Country                237 non-null    object
 3   Cultivated land (km2)  237 non-null    int64
 4   Cultivated land (%)    237 non-null    float64
 5   Arable land (km2)      237 non-null    int64
 6   Arable land (%)        237 non-null    float64
 7   Permanent crops (km2)  237 non-null    int64
 8   Permanent crops (%)    237 non-null    float64
 9   Other lands (km2)      237 non-null    object
 10  Other lands (%)        237 non-null    float64
 11  Total area (km2)       237 non-null    float64
 12  Date                   237 non-null    int64
dtypes: float64(5), int64(5), object(3)
memory usage: 24.2+ KB

In [6]:
df.dtypes

Unnamed: 0                 int64
Rank                      object
Country                   object
Cultivated land (km2)      int64
Cultivated land (%)      float64
Arable land (km2)          int64
Arable land (%)          float64
Permanent crops (km2)      int64
Permanent crops (%)      float64
Other lands (km2)         object
Other lands (%)          float64
Total area (km2)         float64
Date                       int64
dtype: object

In [7]:
df['Country'].value_counts()

World                  1
Trinidad and Tobago    1
Vanuatu                1
Cyprus                 1
Bhutan                 1
                      ..
Sri Lanka              1
Lithuania              1
Azerbaijan             1
Moldova                1
Vatican City           1
Name: Country, Length: 237, dtype: int64